    .erez {
        height: 43vh;
    }
   .erez img {
       width: 100%;
       height: 100%;
   }

   .erez_avatar img {
       border-radius: 50%;
       width: 50%;
       position: absolute;
       height: 40vw;
       left: 25vw;
       top: 15vw;
  }

  .name {
      position: absolute;
      left: 30vw;
      top: 30vh;
      color: white;
  }

  .web_developer,
  .ruby_developer,
  .java_script {
      position: absolute;
      left: 46vw;
      top: 38vh;
      color: white;
      animation: marquee 3s linear infinite;
    }

    .ruby_developer,
    .java_script {
        display: none;
    }
  

  nav {
    background-color: purple;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .nav {
      display: flex;
      justify-content: space-between;
      color: white;
      align-items: center;
  }

  .home {
      padding-right: 65%;
  }
  .second_nav {
      color: white;
      display: none;
  }

  .section {
      padding-left: 8.5%;
  }

  .er_image{
      position: absolute;
      margin-top: 1px;
  }

  .erez_avatar {
    overflow: hidden;
  }
  
  @keyframes marquee {
    from {transform: translateX(-100%); }
    to {transform: translateX(100%); }
  }

  .icons {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100vw;
      top:42vh;
      color: white;
  }

  .fa-github,
  .fa-linkedin-in,
  .fa-medium {
    padding-right: 8%;
  }

  .bottom_container {
      background-color:steelblue;
      height: 40vh;
  }

  .skills,
  .languages {
      color: black;
      display: flex;
      justify-content: center;
  }

  .cards_row {
      display: flex;
      justify-content: center;
  }

  .card {
    border-radius: 15px;
    border:2px solid red;
    padding: 20px;
    width: 75px;
    height: 100px;
    background-color: white;
  }

  .card_one,
  .card_two,
  .card_three {
     margin-right: 2%;
  }